default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\SymfonyContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: 'test'
                debug: true
                class: App\Kernel
                path: 'src/App/Kernel.php'
